<ion-content>
    <ion-slides pager="true">
        <ion-slide class="step-one">
            <ion-img src="../assets/tutorial/event.png"></ion-img>
            <h2 class="text-tutorial b">Saiba onde e quando <br> ocorrerá os eventos <br> da JEBVD!</h2>
            <p class="text-tutorial rl">Eventos</p>
        </ion-slide>
      
        <ion-slide class="step-two">
            <ion-img src="../assets/tutorial/band.png"></ion-img>
            <h2 class="text-tutorial b">Saiba tudo sobre <br> os grupos e bandas <br> de Boa Vontade!</h2>
            <p class="text-tutorial rl">Grupos & Bandas</p>
        </ion-slide>
      
        <ion-slide class="step-three">
            <ion-img src="../assets/tutorial/winner.png"></ion-img>
            <h2 class="text-tutorial b">Tenha acesso <br> a promoções e sorteios <br> em primeira mão!</h2>
            <p class="text-tutorial rl">Promoções & Sorteios</p>
        </ion-slide>

        <ion-slide class="step-four">
            <ion-img src="../assets/tutorial/news.png"></ion-img>
            <h2 class="text-tutorial b">Acompanhe as últimas <br> notícias e atividades <br> da militância Legionária!</h2>
            <p class="text-tutorial rl">Notícias</p>

            <ion-button (click)="finish()">
                Continuar
                <ion-icon slot="end" name="ios-arrow-round-forward"></ion-icon>
            </ion-button>
        </ion-slide>
      </ion-slides>

</ion-content>
