<ion-header style="background: #002a3e; color: white">
  <ion-buttons slot="start" style="height: 70px; margin-top: 30px;">
    <ion-back-button></ion-back-button>
    <ion-title>{{ promo.tipo == 'P' ? 'Promoção' : 'Sorteio' }}</ion-title>
  </ion-buttons>
</ion-header>

<ion-content class="ion-text-center">
  <ion-img src="{{ promo.foto }}"></ion-img>
  <div padding>
    <h5 class="gsm">{{ promo.tema }}</h5>
    <h2 class="b">{{ promo.nome }}</h2>
    <p class="gsm">{{ promo.data  | date:"EEEE',' dd 'de' MMMM 'de' yyyy 'às' HH:mm"  }}</p>
    <p class="rl">{{ promo.endereco }}</p>
    <p align=justify class="rl">{{ promo.descricao }}</p>
  </div>
</ion-content>
                    
        