<ion-header style="background: #002a3e; color: white">
    <ion-buttons slot="start" style="height: 70px; margin-top: 30px;">
      <ion-back-button></ion-back-button>
      <ion-title>Novo Grupo / Banda</ion-title>
      <ion-icon name="md-checkmark" slot="end" color="light"  style="font-size: 20px; margin-right: 4%; margin-top: 2%;" (click)="salvar()"></ion-icon>
    </ion-buttons>
  </ion-header>
  
  <ion-content class="ion-padding">
      <ion-item>
          <ion-label style="margin-left: 30px;"position="floating">Tipo</ion-label>
          <ion-icon name="ios-medal" style="position: absolute; bottom: 14px;"></ion-icon>
        <ion-select style="margin-left: 30px;" cancelText="Cancelar" okText="Ok" [(ngModel)]="grupo.tipo">
          <ion-select-option value="Grupo">Grupo</ion-select-option>
          <ion-select-option value="Banda">Banda</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label style="margin-left: 30px;"position="floating">Foto (http://)</ion-label>
        <ion-icon name="ios-images" style="position: absolute; bottom: 14px;"></ion-icon>
        <ion-input style="margin-left: 30px;" [(ngModel)]="grupo.foto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="margin-left: 30px;"position="floating">Nome</ion-label>
        <ion-icon name="ios-code-working" style="position: absolute; bottom: 14px;"></ion-icon>
        <ion-input style="margin-left: 30px;" [(ngModel)]="grupo.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="margin-left: 30px;"position="floating">Gênero</ion-label>
        <ion-icon name="ios-musical-note" style="position: absolute; bottom: 14px;"></ion-icon>
        <ion-select multiple="true" cancelText="Cancelar" okText="Ok" [(ngModel)]="grupo.genero">
          <ion-select-option value="Pop">Pop</ion-select-option>
          <ion-select-option value="Rock">Rock</ion-select-option>
          <ion-select-option value="Reggae">Reggae</ion-select-option>
          <ion-select-option value="Funk">Funk</ion-select-option>
          <ion-select-option value="Sertanejo">Sertanejo</ion-select-option>
          <ion-select-option value="Forró">Forró</ion-select-option>
          <ion-select-option value="Samba">Samba</ion-select-option>
          <ion-select-option value="Pagode">Pagode</ion-select-option>
          <ion-select-option value="New Metal">New Metal</ion-select-option>
          <ion-select-option value="Outros">Outros</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label style="margin-left: 30px;"position="floating">Integrantes</ion-label>
        <ion-icon name="ios-people" style="position: absolute; bottom: 14px;"></ion-icon>
        <ion-input style="margin-left: 30px;" [(ngModel)]="grupo.integrantes"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="margin-left: 30px;"position="floating">Localidade</ion-label>
        <ion-icon name="md-globe" style="position: absolute; bottom: 14px;"></ion-icon>
        <ion-input style="margin-left: 30px;" [(ngModel)]="grupo.localidade"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="margin-left: 30px;"position="floating">Playlist SoundCloud (http://)</ion-label>
        <ion-icon name="ios-musical-notes" style="position: absolute; bottom: 14px;"></ion-icon>
        <ion-input style="margin-left: 30px;" [(ngModel)]="grupo.musicas"></ion-input>
      </ion-item>    
      <ion-item>
        <ion-label style="margin-left: 30px;"position="floating">Descrição</ion-label>
        <ion-icon name="ios-code-working" style="position: absolute; bottom: 14px;"></ion-icon>
        <ion-textarea style="margin-left: 30px;" [(ngModel)]="grupo.descricao"></ion-textarea>
      </ion-item> 
      <br>
      <p class="ion-text-center rl" style="color: gray;">
        Todos grupo e bandas cadastradas estão sujeitas a aprovação dos administradores do app.
      </p>
  </ion-content>
  