@font-face {
    font-family: 'Google Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/googlesans/GoogleSans-Regular.ttf');
}

@font-face {
    font-family: 'Google Sans Italic';
    font-style: italic;
    font-weight: normal;
    src: url('src/assets/fonts/googlesans/GoogleSans-Italic.ttf');
}

@font-face {
    font-family: 'Google Sans Bold';
    font-style: normal;
    font-weight: bold;
    src: url('src/assets/fonts/googlesans/GoogleSans-Bold.ttf');
}

@font-face {
    font-family: 'Google Sans Bold Italic';
    font-style: italic;
    font-weight: bold;
    src: url('src/assets/fonts/googlesans/GoogleSans-BoldItalic.ttf');
}

@font-face {
    font-family: 'Google Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/googlesans/GoogleSans-Medium.ttf');
}

@font-face {
    font-family: 'Google Sans Medium Italic';
    font-style: italic;
    font-weight: normal;
    src: url('src/assets/fonts/googlesans/GoogleSans-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/roboto/Roboto-Regular.woff');
}

@font-face {
    font-family: 'Roboto Thin';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/roboto/Roboto-Thin.woff');
}

@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/roboto/Roboto-Medium.woff');
}

@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/roboto/Roboto-Light.woff');
}

@font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: bold;
    src: url('src/assets/fonts/roboto/Roboto-Bold.woff');
}


